<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>GestionSalle_TP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>EnregistrementUser</servlet-name>
    <servlet-class>com.servlets.EnregistrementUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnregistrementUser</servlet-name>
    <url-pattern>/EnregistrementUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConsulSalle</servlet-name>
    <servlet-class>com.servlets.ConsulSalle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsulSalle</servlet-name>
    <url-pattern>/ConsulSalle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterSevlet</servlet-name>
    <servlet-class>com.servlets.RegisterSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterSevlet</servlet-name>
    <url-pattern>/RegisterSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterFormation</servlet-name>
    <servlet-class>com.servlets.RegisterFormation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterFormation</servlet-name>
    <url-pattern>/RegisterFormation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConsultationUser</servlet-name>
    <servlet-class>com.servlets.ConsultationUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultationUser</servlet-name>
    <url-pattern>/ConsultationUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConsulFormation</servlet-name>
    <servlet-class>com.servlets.ConsulFormation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsulFormation</servlet-name>
    <url-pattern>/ConsulFormation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditUser</servlet-name>
    <servlet-class>com.servlets.EditUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUser</servlet-name>
    <url-pattern>/EditUser</url-pattern>
  </servlet-mapping>
  
  
  
  
</web-app>